<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688819941241-k2g6ncrc9he6bsaocft1mmvjgougg5nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688819941241-k2g6ncrc9he6bsaocft1mmvjgougg5nr</string>
	<key>API_KEY</key>
	<string>AIzaSyCN0yZ08lPjSzI1omKLOMwoOyHAARyWkJk</string>
	<key>GCM_SENDER_ID</key>
	<string>688819941241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.stefanholmberg.ChessIOS</string>
	<key>PROJECT_ID</key>
	<string>chessios</string>
	<key>STORAGE_BUCKET</key>
	<string>chessios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688819941241:ios:6857e1f3ba3556db0649a8</string>
	<key>DATABASE_URL</key>
	<string>https://chessios.firebaseio.com</string>
</dict>
</plist>